/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/





h1 {
	margin: 0px 35px 50px 100px;
	padding-top: 35px;
	color: lawngreen;
	display: inline-block;
	font-size: 3em;
	font-family: Monaco;
}

div em {
	color: lawngreen;
	display: inline-block;
	font-size: 1.1em;
	font-family: Monaco;
}

header div.container {
	background-color: #333;
	width: 100%;
	height: 120px;
}

section div.container {
	background-color: white;
	width: 100%;
	height: 400px;
}

img[src="images/welcome.gif"] {
	padding-top: 50px;
	display: block;
	margin: 0 auto;
}

div.instructions-content h2 {
	margin-left: 30px;
	display: inline-block;
}

.instructions-content {
	width: 650px;
	margin-right: 0px;
	display: inline-block;
}

div ol {
	margin-top: 0px;
	margin-left: 30px;
}

img[src="images/captain-janeway.png"] {
	float: right;
	height: 150px;
	padding: 5px;
}


.instructions-wrapper {
	border: 5px solid black;
	max-height: 180px;
	width: 80%;
	margin: 0 auto;
	display: block;
	margin-bottom: 50px;
}

section.about-me div.container {
	background-color: blue;
	height: 300px;
}

img[src="images/stunning.jpg"] {
	max-height: 50%;
	margin-top: 20px;
	float: left;
	margin-left: 200px;
}





section.about-me h2 {
	display: inline-block;
	/*float: right;*/
	color: white;
	margin-right: 500px;
	margin-left: 30px;
}

section.about-me p {
	display: inline-block;
	/*float: left;*/
	color: white;
	max-width: 700px;
	margin-left: 30px;
}

 {
	display: inline-block;
	float: right;
}

table {
	display: inline-block;
	width: 60%;
	margin: 0 20% 0 20%;

}

th, tr {
	background-color: #333;
	color: lawngreen;
	width: 33%;
	height: 24px;
}

th {
	text-align: left;
}

div.container:nth-of-type(4) {
	background-color: red;
}































